@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

@layer components {
  .scroll-bar::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.25rem;
  }

  .scroll-bar::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #ffffff;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #686868;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }
}
